

/* ##################################################################################################### */
/* main */
/* ##################################################################################################### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../asset/image/bg.png);
}

nav {
    background: transparent;
    backdrop-filter: 20px;
    height: 50px;
    width: 80%;
    display: flex;
    border-radius: 30px;
    margin: 10px auto 0;
    padding: ;

    border: 1px solid;
}